[DEFAULT]

#
# Options defined in heat.common.config
#
# Name of the engine node. This can be an opaque identifier.It
# is not necessarily a hostname, FQDN, or IP address. (string
# value)
#host=heat


[fusion_api]
# Address to bind the server.  Useful when selecting a
# particular network interface. (string value)
bind_host=127.0.0.1

# The port on which the server will listen. (integer value)
bind_port=8004

[github]
username = ""
password = ""
repository_name = "heat-templates"
template_catalog_path = "catalogs/prod_catalog.json"
