[DEFAULT]

#
# Options defined in fusion.common.config
#
# Name of the engine node. This can be an opaque identifier.It
# is not necessarily a hostname, FQDN, or IP address. (string
# value)
#host=fusion


[fusion_api]
# Address to bind the server.  Useful when selecting a
# particular network interface. (string value)
bind_host=127.0.0.1

# The port on which the server will listen. (integer value)
bind_port=8004

[github]
api_base=https://api.github.com
organization="heat-templates"
template_file=heat.template
metadata_file=heat.metadata

[cache]
default_timeout=3600
cache_root="/var/local/fusion/cache"
memcache_servers="127.0.0.1"
